# Your Akriv private key - for dev purposes only. Used by seed-jobs.ts to create a test user and seed the database with test data. 
# Do not use your real private key here, and do not commit this file to version control.
ARKIV_PRIVATE_KEY=

